.basic
{
	padding:2rem 0;
	box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
}
.btn-custom-light
{
	background:none !important;
	box-shadow:none !important;
	color: #242424 !important;
    border: 1px solid #ccc !important;
}