//datatable css

td.details-control {
    background: url(../../img/images/details_open.png) no-repeat center center;
    cursor: pointer;
}
#table2_length .form-control-sm {
    padding: 5px 22px 4px 8px;
}
//#table2 .table thead th
//{
//  border-bottom: 0;
//}
