/*elements page css*/
.no-padding {
  padding: 0 !important;
}
.m-t-10 {
  margin-top: 10px;
}
.m-l-5 {
  margin-left: 2px;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-b-35 {
  padding-bottom: 35px !important;
}
.bg-primary-light {
  background-color: #2a8cff;
}
.bg-primary-dark {
  background-color: #1d86ff;
}

.bg-secondary-light
{
  background-color: #d2d8e0;
}
.bg-secondary-dark
{
  background-color: #cbd2db;
}
.bg-success-light
{
  background-color: #2ac046;
}
.bg-success-dark
{
  background-color: #28b542;
}
.bg-warning-light
{
  background-color: #d99e00;
}
.bg-warning-dark
{
  background-color: #cc9500;
}
.bg-info-light
{
  background-color: #4e5bf2;
}
.bg-info-dark
{
  background-color:#4250f2;
}
.bg-danger-light
{
  background-color: #ff2330;
}
.bg-danger-dark
{
  background-color: #ff1624;
}
.bg-light-light
{
  background-color: #cad2d9;
}
.bg-light-dark
{
  background-color: #c2ccd4;
}
.bg-dark-light
{
  background-color: #0f0f0f;
}
.bg-dark-dark
{
  background-color: #0f0f0f;
}
.b-grey {
  border: 1px solid #e6e6e6;
}
.btn-round {
  border-radius: 10rem;
}


/*elements page end*/
