.dashboard-col
{
  box-shadow: 1px 1px 24px 0 rgba(0, 0, 0, 0.15);
}
.im-icon-set
{
  font-family: iconsmind!important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 17px;
  top: 0;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 30px 0 30px 30px;
  transition: .5s;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
}
.dashboard-col .im-icon-set:hover
{
  border-radius: 0;
}
